.left-contents
  .user
    %p.user__name= current_user.name
    .user__icon
      .user__icon__mark
        = link_to new_group_path do
          %i.fa.fa-edit
      .user__icon__mark
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
  = render partial: "index", collection: @groups, as: :group


