.form-box {
  height: 8%;
  width: 90%;
  bottom: 0;
  position: absolute;
  @include clearfix;
  padding-left: 15px;
  &__post {
  width: 85%;
  height: 70%;
  }
  .form-list {
    float: left;
    bottom: 0px;
    .fa-file-picture-o {
      float: right;
      position: absolute;
      right: 170px;
      font-size: 40px;
      background-color: white;
    }
    &__button {
      float: left;
      @include button;
    }
  }
}
