.left-contents {
  float: left;
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  .user {
    @include left-side-position(25px, 20px, 15px);
    height: 100px;
    background-color: #253141;
    box-sizing: border-box;
    &__name {
      font-size: ($base_font + 4px);
      font-weight: bold;
      float: left;
      color: $text;
    }
    &__icon {
        left: 240px;
        position: fixed;
        &__mark{
          float: left;
          padding: 0 5px;
          i{
            color: $text;
            font-size: $base_font ;
          }
        }
      }
  }
  .group{
    @include left-side-position(20px, 20px, 40px,);
    &__name {
    @include left-side-position(5px, 0, 5px,);
    color: $text;
    font-size: ($base_font - 1);
    a{
    color: $text;
    text-decoration: none;
    }
    a:visited {
    color: $text;
    }
    }
    &__info {
      @include left-side-position(5px, 5px, 5px,);
      font-size: ($base_font - 5);
      color: $text;
    }
  }
}
